@*<body>
    <!-- =========
    Start Wrapper Page
    ===================================-->
    <div id="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">

                    <!-- =========
                    Start portrait section
                    ===================================-->
                    <header class="portrait">
                        
                    </header>
                    <!-- =========
                    End portrait section
                    ===================================-->
                    <!-- =========
                    Start Content section
                    ===================================-->
                    <section class="content" id="main-content">

                        <!-- =========
                        Start navigation section
                        ===================================-->
                        <nav id='navigation'>
                            <ul class="navigation-list clearfix list-unstyled">
                                <li class="active"><a href="#about" data-toggle="tab" data-menu="about"><i class="icon-user"></i> <span>About Me</span></a></li>
                                <li><a href="#resume" data-toggle="tab" data-menu="resume"><i class="icon-newspaper"></i>  <span>Resume</span></a></li>
                                <li><a href="#portfolio" data-toggle="tab" data-menu="portfolio"><i class="icon-folder-open"></i> <span>Portfolio</span></a></li>
                                <li><a href="#blog" data-toggle="tab" data-menu="blog"><i class="icon-pencil"></i> <span>Blog</span></a></li>
                                <li><a href="#contact" data-toggle="tab" data-menu="contact"><i class="icon-mail"></i> <span>Contact</span></a></li>
                            </ul>
                        </nav>
                        <!-- =========
                        End navigation section
                        ===================================-->
                        <!-- =========
                        Start tab content section
                        ===================================-->
                        <div class="tab-content">


                            <!-- =========
                            Start About tab content section
                            ===================================-->
                            <div id='about' class="tab-pane  fade in  active">
                                <div class="body-content">

                                </div>
                            </div>
                            <!-- =========
                            End About tab content section
                            ===================================-->
                            <!-- =========
                            Start resume tab content section
                            ===================================-->
                            <div id='resume' class="tab-pane fade">
                                <div class="body-content">

                                </div>
                            </div>
                            <!-- =========
                            End resume tab content section
                            ===================================-->
                            <!-- =========
                            Start portfolio tab content section
                            ===================================-->
                            <div id='portfolio' class="tab-pane fade">
                                <div class="body-content">


                                </div>
                            </div>
                            <!-- =========
                            End portfolio tab content section
                            ===================================-->
                            <!-- =========
                            Start Blog tab content section
                            ===================================-->
                            <div id='blog' class="tab-pane fade">
                                <div class="body-content">
                                    <h2 class="title with-icon"><span class="fa  fa-comment-o icn-title"></span> Share Everything With Love</h2>

                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-1">

                                            <!-- =========
                                            Start blog post section
                                            ===================================-->
                                            @RenderBody()
                                            <!-- =========
                                            End blog post section
                                            ===================================-->

                                            <a href="blog_list.html" class="btn btn-flat btn-lg btn-block">View All Post</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- =========
                            End Blog tab content section
                            ===================================-->
                            <!-- =========
                            Start Contact tab content section------
                            ===================================-->
                            <div id='contact' class="tab-pane fade">
                                <div class="body-content">
                         
                        </div>
                    </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</body>*@

