<div id='contact' class="tab-pane fade">
    <div class="body-content">
        <h3 class="title with-icon"><span class="fa fa-coffee icn-title"></span> Get In Touch</h3>

        <!-- =========
        Start map section
        ===================================-->
        <div class="map-area">
            <div id="map"></div>
            <div class="info-map">
                <h3>Contact Info</h3>
                <ul class="list-unstyled list-info">
                    <li><i class="fa fa-home"></i> Notting Hill, London, U.K.</li>
                    <li><i class="fa fa-phone"></i> +44 7932 077550</li>
                    <li><i class="fa fa-linkedin"></i> <a href="https://uk.linkedin.com/in/alexander-schechter-b28150" target="_blank">LinkedIn</a></li>
                    <li><i class="fa fa-facebook"></i> <a href="https://www.facebook.com/alexanderschechter" target="_blank">Facebook</a></li>
                </ul>
            </div>
        </div>
        <div class="deviter"></div>
        <br />
        <!-- =========
        End map section
        ===================================-->
        <!-- =========
        Start form contact section
        ===================================-->
        <form>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="FullnameForm">Full Name</label>
                        <input type="text" class="form-control" id="FullnameForm" placeholder="Enter Full Name">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="CompanyForm">Company</label>
                        <input type="text" class="form-control" id="CompanyForm" placeholder="Enter Company">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="EmailForm">Email Address</label>
                        <input type="email" class="form-control" id="EmailForm" placeholder="Enter Address">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="PhoneForm">Phone Number</label>
                        <input type="text" class="form-control" id="PhoneForm" placeholder="Enter Phone Number">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="MesageForm">Message</label>
                <textarea class="form-control" rows="8" id="MesageForm" placeholder="Enter Message"></textarea>
            </div>
            <button type="submit" class="btn btn-flat btn-lg"><span class="glyphicon glyphicon-send"></span> Send</button>
        </form>
        <!-- =========
        End form contact section
        ===================================-->

    </div>
</div>