<div id='portfolio' class="tab-pane fade">
    <div class="body-content">
        <h3 class="title with-icon"><span class="fa fa-briefcase icn-title"></span> My Works</h3>

        <!-- =========
        Start list control postfolio section
        ===================================-->
        <div class="text-center">
            <ul class="control-profolio list-inline">
                <li class="filter active" data-filter="all">All</li>
                <li class="filter" data-filter="cSharp">C#</li>
                <li class="filter" data-filter="angularJS">AngularJS</li>
                <li class="filter" data-filter="javascript">JS Examples</li>
            </ul>
        </div>
        <!-- =========
        End list control postfolio section
        ===================================-->
        <!-- =========
        Start grid postfolio section
        ===================================-->
        <ul id='portfolio-grid' class="list-unstyled grid-portfolio">
            <li class="mix cSharp">
                <div class="item-portfolio">
                    <a href="http://budgeterapp.azurewebsites.net" class="preview-portfolio imgWrapper" target="_blank">
                        <img src="~/assets/images/budgeting.jpg" alt="budgeting.jpg" class="img-responsive-carfinder" />
                    </a>
                    <div class="desc-portfolio"><h5>Budgeting App<small>A C#/ASP.NET Project</small></h5></div>
                </div>
            </li>
            <li class="mix angularJS">
                <div class="item-portfolio">
                    <a href="http://carfinderapp.azurewebsites.net/" class="preview-portfolio imgWrapper" target="_blank">                     
                        <img src="~/assets/images/bugatti.jpg" alt="bugatti.jpg" class="img-responsive-carfinder" />
                    </a>
                    <div class="desc-portfolio"><h5>Car Finder App<small>A Angular JS Project</small></h5></div>
                </div>
            </li>
            <li class="mix javascript">
                <div class="item-portfolio">
                    <a href="" data-toggle="modal" data-target="#primefactors" class="preview-portfolio imgWrapper">                      
                        <img src="~/assets/images/factorization.png" alt="factorization.png" class="img-responsive" />
                    </a>
                    <div class="desc-portfolio"><h5>Prime Factors <small>a Javascript Exercise</small></h5></div>
                    <div class="modal fade" id="primefactors" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                                </div>
                                <div class="modal-body col-md-12">
                                    <div class="col-md-5 margin-small h4">
                                        <h2>Prime Factors</h2>
                                        <br />
                                        <p>This programme returns all the prime factors of a positive integer.</p>
                                        <br />
                                        <p>Please input an integer greater or equal to 2:</p>
                                        <input type="number" id="primeFactorsInput" />
                                        <br />
                                        <br />
                                        <button id="primeFactorsSubmit">Submit</button> &nbsp <button id="primeFactorsReset">Reset</button>
                                        <br />
                                        <br />
                                        <p id="primeFactorsResult"></p>
                                    </div>
                                    <div class="col-md-7 margin-small">
                                        <pre class="brush: js text">
$(function () {
    $("#primeFactorsSubmit").click(function () {
        var  myNumber = +$("#primeFactorsInput").val();
        if ( isNaN(myNumber) || myNumber < 2 || myNumber%1 ) {
            //alert("The number has to be an integer greater or equal to 2, please input again")
            $("#primeFactorsResult").text("The number has to be an integer greater or equal to 2, please input again").removeClass().addClass("wrongInput");
            $("#primeFactorsInput").val("");
            return;
        }
        $("#primeFactorsResult").text("The prime factors are: " + primeFactors(myNumber)).removeClass().addClass("displayOutput");
    });
    $("#primeFactorsReset").click(function () {
        myReset();
    });
})
function primeFactors(n) {
    var allPrimeFactors = [];
    var prime;
    do {
        prime = smallestPrimeFactor(n);
        allPrimeFactors.push(prime);
        n /= prime;
    }
    while (n != 1);
    return allPrimeFactors;
}
function smallestPrimeFactor(n) {
        for (var i = 2; i <= n ; i++) {
            if (n % i == 0) {
                return i;
            }
        }
}
function myReset() {
    $("#primeFactorsInput").val("");
    $("#primeFactorsResult").text("");
    return;
}
                                                          </pre>
                                    </div>
                                </div>
                                <div class="modal-footer no-margin">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="mix javascript">
                <div class="item-portfolio">
                    <a href="" data-toggle="modal" data-target="#longestWord" class="preview-portfolio imgWrapper">                      
                        <img src=@Url.Content("~/assets/images/longestWord.jpg") alt="longestWord.jpg" class="img-responsive" />
                    </a>
                    <div class="desc-portfolio"><h5>The Longest Word <small>a Javascript Exercise</small></h5></div>
                     
                    <div class="modal fade" id="longestWord" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                                </div>
                                <div class="modal-body col-md-12">
                                    <div class="col-md-5 margin-small h4">
                                        <h2>The Longest Word</h2>
                                        <br />
                                        <p>
                                            This programme returns the longest word (i.e. the longest sequence of letters) in a
                                            string. If there are two or more words of the same length, then the first word with
                                            that length is returned.
                                        </p>
                                        <br />
                                        <p>Please input a string: &nbsp <input type="text" id="longestWordInput" /></p>
                                        <button id="longestWordSubmit">Submit</button>
                                        <br />
                                        <br />
                                        <p id="longestWordOutput" class="displayOutput"></p>
                                    </div>
                                    <div class="col-md-7 margin-small">
                                        <pre class="brush: js text">
$(function(){
    $("#longestWordSubmit").click(function () {
		var wordInput = $("#longestWordInput").val();
		var longest = "";
		var current = "";
		for (i = 0; i < wordInput.length; i++)
		{
			if  (isLetter(wordInput.charAt(i)) == true)
			{
				current += wordInput.charAt(i);
			}
			if (isLetter(wordInput.charAt(i)) == false || i == wordInput.length - 1)
			{
				if (current.length > longest.length)
				{
					longest = current;
				}
				current = "";
			}
		}
		$("#longestWordOutput").html("The longest word in the string is " + longest);
	})
	
	function isLetter(l) {
	  return l.toLowerCase() !== l.toUpperCase();
	}
})
                                                          </pre>
                                    </div>
                                </div>
                                <div class="modal-footer no-margin">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </li>

            <li class="mix javascript">
                <div class="item-portfolio">
                    <a href="" data-toggle="modal" data-target="#fiveNumbers" class="preview-portfolio imgWrapper">
                        <img src=@Url.Content("~/assets/images/fiveNumbers.png") alt="fiveNumbers.png" class="img-responsive" />
                    </a>
                    <div class="desc-portfolio"><h5>Five Numbers <small>a Javascript Exercise</small></h5></div>

                    <div class="modal fade" id="fiveNumbers" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                                </div>
                                <div class="modal-body col-md-12">
                                    <div class="col-md-5 margin-small h4">
                                        <h2>Five Numbers</h2>
                                        <br />
                                        <p>This programme performs several basic calculations on 5 numbers input by the user. The reset button resets all the values.</p>
                                        <br />
                                        <p>Please input the first number: &nbsp<input type="number" placeholder=0 id="firstInput" /></p>
                                        <p>Please input the second number: &nbsp<input type="number" placeholder=0 id="secondInput" /> </p>
                                        <p>Please input the third number: &nbsp<input type="number" placeholder=0 id="thirdInput" /> </p>
                                        <p>Please input the fourth number: &nbsp<input type="number" placeholder=0 id="fourthInput" /> </p>
                                        <p>Please input the fifth number: &nbsp<input type="number" placeholder=0 id="fifthInput" /> </p>
                                        <button id="fiveNumbersSubmit">Calculate</button> &nbsp <button id="fiveNumbersReset">Reset</button>
                                        <br />
                                        <br />
                                        <div class="displayOutput">
                                            <p id="smallest"></p>
                                            <p id="largest"></p>
                                            <p id="mean"></p>
                                            <p id="sum"></p>
                                            <p id="product"></p>
                                        </div>
                                    </div>
                                    <div class="col-md-7 margin-small">
                                        <pre class="brush: js text">
$(function(){
	$("#fiveNumbersSubmit").click(function() {
		var firstNumber = +$("#firstInput").val();
		var secondNumber = +$("#secondInput").val();
		var thirdNumber = +$("#thirdInput").val();
		var fourthNumber = +$("#fourthInput").val();
		var fifthNumber = +$("#fifthInput").val();
		smallestNumber = Math.min(firstNumber, secondNumber, thirdNumber, fourthNumber, fifthNumber);
		largestNumber = Math.max(firstNumber, secondNumber, thirdNumber, fourthNumber, fifthNumber);
		mySum = firstNumber + secondNumber + thirdNumber + fourthNumber + fifthNumber;
		myMean = mySum / 5;
		myProduct = firstNumber * secondNumber * thirdNumber * fourthNumber * fifthNumber;
		
		$("#smallest").text("The smallest number is: " + smallestNumber);
		$("#largest").text("The largest number is: " + largestNumber);
		$("#mean").text("The mean of the numbers is: " + myMean);
		$("#sum").text("The sum of the numbers is: " + mySum);
		$("#product").text("The product of the numbers is: " + myProduct);
	});
	$("#fiveNumbersReset").click(function() {
		$("#firstInput").val(0);
		$("#secondInput").val(0);
		$("#thirdInput").val(0);
		$("#fourthInput").val(0);
		$("#fifthInput").val(0);
		
		$("#smallest").text("");
		$("#largest").text("");
		$("#mean").text("");
		$("#sum").text("");
		$("#product").text("");			
	});
})
                                                          </pre>
                                    </div>
                                </div>
                                <div class="modal-footer no-margin">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </li>



            <li class="mix javascript">
                <div class="item-portfolio">
                    <a href="" data-toggle="modal" data-target="#factorial" class="preview-portfolio imgWrapper">
                        <img src=@Url.Content("~/assets/images/factorial.png") alt="factorial.png" class="img-responsive" />
                    </a>
                    <div class="desc-portfolio"><h5>Factorial <small>a Javascript Exercise</small></h5></div>

                    <div class="modal fade" id="factorial" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                                </div>
                                <div class="modal-body col-md-12">
                                    <div class="col-md-5 margin-small h4">
                                        <h2>Factorial</h2>
                                        <br />
                                        <p>This programme calculates the factorial of an integer. The reset button resets all the values.</p>
                                        <br />
                                        <p>Please input an integer: <input type="text" pattern="[0-9]" placeholder=0 id="factorialInput" /></p>
                                        <button id="factorialSubmit">Submit</button> &nbsp <button id="factorialReset">Reset</button>
                                        <br />
                                        <br />
                                        <p id="factorialResult"></p>
                                    </div>
                                    <div class="col-md-7 margin-small">
                                        <pre class="brush: js text">
$(function(){
	$("#factorialSubmit").click(function() {
		var factorial = +$("#factorialInput").val();
		if (isNaN(factorial) || factorial < 0 || factorial % 1) {
		    $("#factorialResult").text("The number has to be non-negative and an integer, please input again").removeClass().addClass("wrongInput");
		    $("#factorialInput").val("");
			return;
		}
		$("#factorialResult").text("The factorial of the number is: " + calculateFactorial(factorial)).removeClass().addClass("displayOutput");
	});
	
	$("#factorialReset").click(function() {
		myReset();
	});
	
})
function calculateFactorial(n){
	if	(n === 0){
		return 1;
	}
	else{
		return n*calculateFactorial(n-1);
	}
	return n;
}
function myReset() {
	$("#factorialInput").val("");
	$("#factorialResult").text("");
	return;
}
                                                          </pre>
                                    </div>
                                </div>
                                <div class="modal-footer no-margin">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="mix javascript">
                <div class="item-portfolio">
                    <a href="" data-toggle="modal" data-target="#fizzBuzz" class="preview-portfolio imgWrapper">
                        <img src=@Url.Content("~/assets/images/fizzBuzz3.png") alt="fizzBuzz3.png" class="img-responsive" />
                    </a>
                    <div class="desc-portfolio"><h5>FizzBuzz <small>a Javascript Exercise</small></h5></div>

                    <div class="modal fade" id="fizzBuzz" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                                </div>
                                <div class="modal-body col-md-12">
                                    <div class="row">
                                        <div class="col-md-5 margin-small h4">
                                            <h2>FizzBuzz</h2>
                                            <br />
                                            <p>
                                                This programme accepts two numbers between 1 and 100 from the user. The programme then iterates
                                                through all numbers from 1 to 100, printing numbers in ascending order to the screen. For each number
                                                that is a multiple of the first number input by the user, print "Fizz" instead of the number. For
                                                each number that is a multiple of the second number input by the user, print "Buzz" instead of the
                                                number. For numbers that are multiples of both numbers, print "FizzBuzz" instead of the number.
                                            </p>
                                            <br />
                                            <h1 id="title">Exercise 3: FizzBuzz</h1>
                                            <p>Please input Fizz (an integer between 1 and 100): <input type="number" id="firstFBInput" /></p>
                                            <p>Please input Buzz (an integer between 1 and 100): <input type="number" id="secondFBInput" /></p>
                                            <p>
                                                <input type="submit" value="Fizz & Buzz" id="launch" />
                                                <input type="submit" value="Reset Values" id="resetting" />
                                            </p>
                                            <div id="alertUser" class="wrongInput"></div>
                                            <div id="myHighlight" class="col-md-12">
                                                <table>
                                                    <tbody id="outputTable"></tbody>
                                                </table>
                                            </div>
                                        </div>

                                        <div class="col-md-7 margin-small">
                                            <pre class="brush: js text">
$(function(){
	
	$("#launch").click(function(){
		
		var firstNumber = +$("#firstFBInput").val();
		var secondNumber = +$("#secondFBInput").val();
		
		$("#outputTable").empty();
		$('table').removeClass();
		
		
		if (firstNumber < 1 || secondNumber < 1 || firstNumber > 100 || secondNumber > 100 || firstNumber % 1 || secondNumber % 1 )
		{	
		    myReset();
		    $("#alertUser").text("Both numbers have to be integers between 1 and 100, please input again");
			return;
		};
		
		$("#alertUser").text("");
		$(myHighlight).addClass('tableStyleFB');
	
		for (i = 1; i <= 100; i++) {			
			
			if ((i-1)%10 === 0) {
				$('#outputTable').append("<tr>");
			};
			
			if (i%firstNumber === 0) {
				if (i%secondNumber === 0) {
					$('#outputTable').append("<td class='col-sm-1 fizzBuzz'>FizzBuzz</td>");
				} else {
					$('#outputTable').append("<td class='col-sm-1 fizz'>Fizz</td>");
				}
			} else if (i%secondNumber === 0) {
				$('#outputTable').append("<td class='col-sm-1 buzz'>Buzz</td>");
			} else {
				$('#outputTable').append("<td class='col-sm-1 myNumber'>" + i + "</td>");
			};
			
			if (i%10 === 0) {
				$('#outputTable').append("</tr>");
			};
		};
			
	});
			
	$("#resetting").click(function(){
		myReset();
	});
		
	function myReset() {
	$("#firstFBInput, #secondFBInput").val(''); 
	$("#outputTable").empty();
	$('table').removeClass();
	$("#alertUser").text("");
	} 
});
                                                          </pre>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer no-margin">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="mix javascript">
                <div class="item-portfolio">
                    <a href="" data-toggle="modal" data-target="#palindrome" class="preview-portfolio imgWrapper">
                        <img src="~/assets/images/palindrome.png" alt="palindrome.png" class="img-responsive-palindrome" />
                    </a>
                    <div class="desc-portfolio"><h5>Palindrome <small>a Javascript Exercise</small></h5></div>

                    <div class="modal fade" id="palindrome" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
                                </div>
                                <div class="modal-body col-md-12">
                                    <div class="col-md-5 margin-small h4">
                                        <h2>Palindrome</h2>
                                        <br />
                                        <p>
                                            This programm determines whether a word is a Palindrome (the same backward as it is
                                            forward) and displays the result to the user. The reset button resets all the values.
                                        </p>
                                        <br />
                                        <p>Please input a word: <input type="text" id="wordInput" /></p>
                                        <p>
                                            <input type="submit" value="Submit" id="submitPalindrome" />
                                            <input type="submit" value="Reset" id="resetPalindrome" />
                                        </p>
                                        <br />
                                        <p id="wordOutput" class="displayOutput"></p>
                                    </div>
                                    <div class="col-md-7 margin-small">
                                        <pre class="brush: js text">
$(function(){
	
	$("#submitPalindrome").click(function(){
		
		$('#myOutput').empty();	
		$('body').removeClass();
		
		var myWord = $('#wordInput').val();
		var wordLength = myWord.length;
		var isPalindrome = true;
		
		$('#wordOutput').text('');
		
		if (wordLength === 0) {
			alert("Please input a word");
			return;
		}
	
		for (i = 1; i < (Math.floor(wordLength/2) + 1); i++) {
			
			if (myWord[i-1] !== myWord[wordLength-i]) {
				isPalindrome = false;
				{break;} ;
			}
		}
	
		if (isPalindrome === true) {
			$('#wordOutput').append(myWord + " is a Palindrome");
		} 
		else {
			$('#wordOutput').append(myWord + " is NOT a Palindrome");
		}
	
	})
	
	$("#resetPalindrome").click(function(){
		$('#wordInput').val([]);
		$('#wordOutput').empty();		
	})
		
});
                                                          </pre>
                                    </div>
                                </div>
                                <div class="modal-footer no-margin">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <!-- =========
        End grid portfolio section
        ===================================-->
        <!-- Running the SyntaxHighligher-->
        <script type="text/javascript">
                    SyntaxHighlighter.all()
        </script>

    </div>
</div>
